h1 {
    font-size: 1.5rem;
    margin-block-end: 0;
}

address{
    font-style: normal;
    display: inline;
}

.article_info_main {
    color: #666666;
    font-size: 0.875rem;
}

.article_info {
    color: #999999;
    font-size: inherit;
}
.article_text {
    font-size: 0.9375rem;
    color: #333333;
    padding-top: 1.5rem;
}
.article_text > p {
    padding-top: 0.8rem;
}