body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.card{
    padding-top: 60px;
    padding-left: 30px;
}
.card-title h1{
    font-weight: 400;
    font-size: 24px;
}
.card-tags{
    color: #999999;
    font-size: 14px;
}
.tag-link{
    font-size: 15px;
    color: #666666;
    text-decoration: none;
}
.tag-link:hover{
    color: #009ceb;
   text-decoration: underline;
}
.card-text{
    padding-top: 37px;

}
.card-text p{
    color: #333333;
    text-indent: 0;

    font-size: 15px;
    line-height: 1.73;
    margin-bottom: 25px;


}